extends _layouts/home

block head_end
	link(rel="stylesheet" href="/css/style.css") 

block content
	div.content Welcome to about page

block body_end
	script(type="text/javascript" src="/js/script.js")